Magic 271485
Revision Verdi_V-2023.12-SP1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort -10 -8 3440 1314 244 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "/home/fdm/verif/core-v-verif/cv32e20/sim/uvmt/vcs_results/default/max_pooling_XCS/0/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 190072327.900000 197861245.900000
cursor 197471800.000000
marker 0.000000

; visible top row signal index
top 0
; marker line index
markerPos 47

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/fdm/verif/core-v-verif/cv32e20/sim/uvmt/vcs_results/default/max_pooling_XCS/0/inter.fsdb"
addSignal -h 15 /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/clk_i
addSignal -h 15 /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/rst_ni
addSignal -h 15 /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/id_stage_i/instr_valid_i
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/id_stage_i/instr_rdata_i[31:0]
addSignal -h 15 /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/id_stage_i/pc_set_o
addSignal -h 15 -UNSIGNED /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/id_stage_i/pc_mux_o[2:0]
addSignal -h 15 -UNSIGNED /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/id_stage_i/decoder_i/opcode[6:0]
addSignal -expanded -h 15 /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[31:1]
addSignal -UNSIGNED -UDEC -HIDDEN -holdScope rf_reg_q[28][31:0]
addSignal -UNSIGNED -UDEC -HIDDEN -holdScope rf_reg_q[31][31:0]
addSignal -UNSIGNED -UDEC -HIDDEN -holdScope rf_reg_q[29][31:0]
addSignal -UNSIGNED -UDEC -HIDDEN -holdScope rf_reg_q[30][31:0]
addSignal -h 15 -UNSIGNED -UDEC /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[31][31:0]
addSignal -h 15 -UNSIGNED -UDEC /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[30][31:0]
addSignal -h 15 -UNSIGNED -UDEC /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[29][31:0]
addSignal -h 15 -UNSIGNED -UDEC /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[28][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[27][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[26][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[25][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[24][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[23][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[22][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[21][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[20][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[19][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[18][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[17][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[16][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[15][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[14][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[13][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[12][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[11][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[10][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[9][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[8][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[7][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[6][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[5][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[4][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[3][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[2][31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/register_file_i/rf_reg_q[1][31:0]
addSignal -h 15 /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/id_stage_i/xif_result_valid_i
addSignal -h 15 -UNSIGNED -UDEC /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/id_stage_i/xif_result_data_i[31:0]
addGroup "Load&Store Unit"
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/load_store_unit_i/data_addr_o[31:0]
addSignal -h 15 -UNSIGNED -HEX /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/load_store_unit_i/data_wdata_o[31:0]
addSignal -h 15 -UNSIGNED -UDEC /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/load_store_unit_i/data_rdata_i[31:0]
addSignal -h 15 /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/load_store_unit_i/lsu_resp_valid_o
addGroup "Fetch"
addSignal -h 15 /uvmt_cv32e20_tb/dut_wrap/cv32e20_top_i/u_cve2_top/u_cve2_core/if_stage_i/instr_req_o
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

